<!doctype html>
<html>
	<head>
		<title>Median Earnings for Full Time Workers</title>
		<link href="line.css" rel="stylesheet" type="text/css">
		<script src="Chart.js"></script>
		<script src="pym.js"></script>
	</head>
	<body>

<div style="background-color:white; color:black; width:75%; font-size:80%;">

<h3>Median Earnings for Full Time Workers</h3>
<p>Median earnings (in $) for population age 18 to 34 with earnings who worked full-time, year-round (in 2013 inflation-adjusted dollars)</p>

</div>
		<div style="width: 90%">
			<canvas id="canvas" height="450" width="620"></canvas>
		</div>
		<div id="my-line-legend"></div>


	<script>
	var lineChartData = {
		labels :["1980", "1990", "2000", "2009-2013"],
		datasets : [
			{
				fillColor : "rgba(186,209,50,0.2)",
                strokeColor : "rgba(186,209,50,1)",
                pointColor: "rgba(186,209,50,1)",
				pointStrokeColor: "rgba(186,209,50,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(186,209,50,1)",
				data : [38587,45675,44924,41393],
				label : 'New Jersey'

			},
			{
				fillColor : "rgba(174,161,139,0.2)",
                strokeColor : "rgba(174,161,139,1)",
                pointColor: "rgba(174,161,139,1)",
				pointStrokeColor: "rgba(174,161,139,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(174,161,139,1)",
				data : [35845,36716,37355,33883],
				label : 'United States'

			}
		]

	}
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive : true,
            tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",
	    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><div class=\"comm-how\"><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

          });



    var helpers = Chart.helpers;
           var legendHolder = document.getElementById('my-line-legend')
      legendHolder.innerHTML = myLine.generateLegend();
      // Include a html legend template after the module doughnut itself
      helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
          helpers.addEvent(legendNode, 'mouseover', function(){
              var activeDataset = myLine.datasets[index];
              activeDataset.save();
              activeDataset.fillColor = activeDataset.highlightColor;
              myLine.showTooltip([activeDataset]);
              activeDataset.restore();
          });
      });
      helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
          myLine.draw();
      });
      canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);
          
    myLine.generateLegend();

};


	</script>
	<script>
var pymChild = new pym.Child();
    </script>
	</body>
</html>